<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TVR_Balanco.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TVR_Balanco.Properties.Settings.TecVaitor_BalancoConnectionString"
      connectionString="Data Source=192.168.1.12;Initial Catalog=TecVaitor_Balanco;User ID=sa;Password=f5a9@1478!rmq$$56"
      providerName="System.Data.SqlClient" />
    <add name="TecVaitor_BalancoEntities" connectionString="metadata=res://*/TVR_DB_Entity.csdl|res://*/TVR_DB_Entity.ssdl|res://*/TVR_DB_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.12;initial catalog=TecVaitor_Balanco;user id=sa;password=f5a9@1478!rmq$$56;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <TVR_Balanco.Properties.Settings>
      <setting name="LojaCodigo" serializeAs="String">
        <value>998</value>
      </setting>
      <setting name="LocalImagem" serializeAs="String">
        <value>\\lapommer.com.br\SAP Business One\Imagens\</value>
      </setting>
    </TVR_Balanco.Properties.Settings>
  </userSettings>
</configuration>